/****************************************
* Transform
****************************************/
.transform-demo > div {
  height: 40px;
  background: salmon;
  width: 20%;
  margin: auto;
  display: inline-block;
  transform: translate(147px, -5px);
  opacity: 0.9;
}

/****************************************
* Transition
****************************************/

.transition-demo img {
  margin-bottom: 0.5em;
  width: 200px;
  height: 200px;
  filter: grayscale(100%);
  transition: all 2s;
}

.transition-demo img:hover {
  transform: scale(1.25) rotate(360deg);
  filter: none;
}

/****************************************
* Animation
****************************************/

.bar {
  border: 1px solid black;
  height: 50px;
  width: 500px;
  margin: auto;
  background-color: palegreen;
  animation-name: sale-bar;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
  animation-iteration-count: 10;
}

@keyframes sale-bar {
  0% {
    background-color: lightgreen;
    width: 450px;
  }
  25% {
    background-color: rgb(233, 116, 223);
    width: 325px;
  }
  50% {
    background-color: yellowgreen;
    width: 200px;
  }
  75% {
    background-color: #ff033e;
    width: 125px;
    border-radius: 50%;
    transform: scale(0.5);
  }
  100% {
    background-color: crimson;
    width: 10px;
    border-radius: 100%;
    transform: scale(0);
  }
}
